body {
    margin:0;
    background-image: url(img/fabio-jock-eFHp9s4sdLg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
main{
    width:100%;
    margin: auto;
    padding: 50px;
    background-color: rgba(9, 56, 97, 0.39);
    height: 100vh;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: aliceblue;
    font-size: 5vh;
}
nav{
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
nav a{
    color: aliceblue;
    font-size: 5vw;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
    background-color: rgba(137, 43, 226, 0.342);
}
#clock{
    width: 170px;
    height: 170px;
    border: 10px groove ghostwhite;
    margin: auto;
    margin-bottom: 30px;
    position: relative;
}
#strelka1{
    position: absolute;
    width: 45%;
    height: 4px;
    background-color: aqua;
    top: calc(50% - 2px);
    left: 50%;
    animation: go 60s infinite linear;
    transform-origin: left;
}
#strelka2{
    position: absolute;
    width: 35%;
    height: 4px;
    background-color: aqua;
    top: calc(50% - 2px);
    left: 50%;
    animation: go 3600s infinite linear;
    transform-origin: left;
}
@keyframes go{
    from{transform: rotate(0);}
    to{transform: rotate(360deg);}
}